{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <th>Cafe</th>
          <th>Location</th>
          <th>Open Time</th>
          <th>Close Time</th>
          <th>Coffee Rating</th>
          <th>Wifi Rating</th>
          <th>Power Rating</th>
          {% for cafe in cafes %}
          <tr>
            <td>{{ cafe['Cafe Name'] }}</td>
            <td>{{ cafe['Location'] }}</td>
            <td>{{ cafe['Open'] }}</td>
            <td>{{ cafe['Close'] }}</td>
            <td>{{ cafe['Coffee'] }}</td>
            <td>{{ cafe['Wifi'] }}</td>
            <td>{{ cafe['Power'] }}</td>
          </tr>
          {% endfor %}
  	  </table>
      <p><a href="#">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
